body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0px !important;
  width: 350px;
}

.topbar {
  background: #596e79;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  padding: 10px 10px 5px 10px;
}

.topbarLogoContainer {
  margin-right: 15px;
}

.topbarLogo {
  height: 20px;
  width: auto;
}

.accordion {
  align-items: center;
  background: #657d8a;
  border: none;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  outline: none;
  padding: 12px;
  width: 100%;
}

.indicator {
  margin-right: 15px;
  transition: transform ease-in-out 100ms;
}

.accordion.active > .indicator {
  transform: rotate(180deg);
}

.accordion.active + .panel {
  display: flex;
}

.accordion > .subtitle {
  margin-left: auto;
  opacity: 50%;
}

.panel {
  display: none;
  flex-direction: column;
  padding: 12px;
}

.unauthenticated {
  display: none;
  flex-direction: column;
  justify-content: left;
  padding: 10px 0px 10px 15px;
}

.large-button {
  background: #00bfd8;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin-right: auto;
  padding: 10px;
  text-decoration: none;
}

.authenticated {
  display: none;
}

#check-in-container {
  display: none;
}

#check-in-container.active {
  display: block;
}

#check-in-success {
  background-color: #cee4cb;
  border-radius: 3px;
  color: #508b46;
  display: none;
  padding: 9px;
}

#check-in-success.active {
  display: block;
}

#check-in-status {
  align-items: center;
  background: #657d8a;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

#check-in-logo {
  align-items: center;
  height: auto;
  margin-left: 10px;
  margin-right: 12px;
  width: 16px;
}

#check-in-time {
  color: #ffffff;
}

#check-in-time.check-in-today {
  opacity: 50%;
}

#check-in-time.check-in-long {
  color: #ffea00;
}

#check-in-button {
  background: #009aaa;
  color: #ffffff;
  display: none;
  margin-left: auto;
  padding: 9px;
  text-decoration: none;
}

#check-in-button.active {
  display: flex;
}

#view-check-in-button {
  color: #ffffff;
  display: none;
  margin-left: auto;
  opacity: 50%;
  padding: 9px;
  text-decoration-line: underline;
}

#view-check-in-button.active {
  display: flex;
}

#check-in-picker {
  flex-direction: row;
  margin-bottom: 15px;
}

.check-in-type {
  color: #00bfd8;
  font-weight: 700;
  padding: 0 0.5em;
  user-select: none;
}

.check-in-type.active {
  color: #000000;
}

#check-in-text {
  border: 1px solid #d1d7db;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 90px;
  margin-bottom: 15px;
  padding: 8px;
  resize: vertical;
  width: 310px;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  opacity: 50%;
}

#check-in-attachment {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 318px;
}

#attachment-icon-wrapper {
  align-items: center;
  background-color: #d1d7db;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin-right: 12px;
  padding: 4px;
  width: 32px;
}

#attachment-icon {
  height: 24px;
  width: 24px;
}

#attachment-data {
  flex-direction: column;
}

#attachment-title {
  font-weight: 700;
  margin-bottom: 4px;
}

#attachment-subtitle {
  font-size: 12px;
  opacity: 50%;
}
